<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C43F85AC1FAEF35D0077BD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C43F85C01FAEF35D0077BD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C43F85CB1FAEF35D0077BD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
